apiVersion: apps/v1
kind: Deployment
metadata:
  name: web-frontend
  namespace: opportunity-portal
spec:
  replicas: 2
  selector:
    matchLabels:
      app: web-frontend
  template:
    metadata:
      labels:
        app: web-frontend
    spec:
      containers:
        - name: web-frontend
          image: vaibhvamani810/opportunity-frontend:latest
          ports:
            - containerPort: 5173
          env:
            - name: API_BASE_URL
              value: "http://opportunity-service.opportunity-portal.svc.cluster.local"
          resources:
            requests:
              cpu: "50m"
              memory: "64Mi"
            limits:
              cpu: "200m"
              memory: "128Mi"
