apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-service
  namespace: opportunity-portal
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auth-service
  template:
    metadata:
      labels:
        app: auth-service
    spec:
      containers:
        - name: auth-service
          image: vaibhvamani810/auth-service:latest
          ports:
            - containerPort: 5001
          env:
            - name: DB_HOST
              value: "opportunity-portal-db.cpk2i24qqiwp.ap-south-1.rds.amazonaws.com"  # <-- update with your RDS endpoint
            - name: DB_NAME
              value: "opportunitydb"
           
            - name: COLLEGE_BASE
              value: "http://college-service.opportunity-portal.svc.cluster.local:5002"

            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: db-credentials
                  key: username
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: db-credentials
                  key: password
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "256Mi"
